.h1 {
  text-align: center;
}

.section_featured{
  background-color: #ffffff;
}

.section_title {
  font-size: 3rem;
  padding:5rem 0rem 0rem 0rem;
  color:black;
  background: #fff;
}


.featured_container {
  max-width: 75%;
  margin-inline: auto;
  padding: 2rem 0 6rem;
}

.featured_card {
  position: relative;
  text-align: center;
  padding: 20px;
  overflow: hidden;
  border: 2px solid hsl(230, 50%, 90%);
 
}

.featured_img {
  width: 150px;
  height: 200px;
  max-width: 150px;
  max-height: 200px;
  margin: 0 auto 14px;
  object-fit: fill;
  /* max-width: 300px; */
}

.featured_title {
  font-size: 1.25rem;
  margin-bottom: .5rem;
  color: #363636;
}

.swiper-button-prev::after,
.swiper-button-next::after{
  width: initial;
  height: initial;
  size: 10px;
  color: #363636;
}

.swiper-button-prev,
.swiper-button-next{
  width: 25px;
  height: 100px;
  font-size: 1px;
  color: #708090;
  /* background-color: hsl(230, 100%, 97%);
  border: 2px solid hsl(230, 50%, 90%);
  padding: .5rem; */
}