.footer-container {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;  
  background-color: #192430;
  color: white;
  text-align: start;
}

.footer-text {
 color: white;
 font-family: 'Times New Roman', Times, serif;
 padding-left: 20px;
 padding-top: 20px;
}