.hero-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../../public/images/bookBackground.jpeg') center center/cover no-repeat; /*copy background image path*/
}

.hero-content {
  text-align: center;
  color: white;
}

.hero-content h1 {
  font-size: 110px;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 1rem;
}

.hero-content p {
  color: white;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 2rem;
}

.hero-btn-container {
  font-family: 'Times New Roman', Times, serif;
  margin-top: 32px;
}

.fa-play-circle {
  margin-left: 4px;
}