.navbar {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100%;
  margin: 10px 0px;
  padding: 0 20px;
}

/* NAV LOGO */
.navbar-logo {
  justify-content: center;
  cursor: pointer;
  font-size: 2rem;
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;  
}
.navbar-logo img {
  width: 130px;
}

.navbar-logo:hover {
  transition: all 0.2s ease-out;
  color: #fff;
  text-decoration: none;
}

/* NAV ADMIN BUTTONS */
.nav-admin-menu {
  display: flex;
  align-items: center;
  grid-gap: 50px;
  list-style: none;
  text-align: center;
}

.navbar-container ul { /* removes ghost margin below ul  */
  margin-top: 0;
  margin-bottom: 0;
}

.nav-findbook-container {
  position: relative;
  width: 100px;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  outline: solid 1px white;
}

.nav-findbook-container:hover {
  background-color: #606060;
}

.nav-findbook-container span {
  color: white;
}

.nav-findbook-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  padding: 10px 15px;
}


/* NAV USER BUTTONS */
.nav-menu {
  display: flex;
  gap: 0px 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%; 
  transform: translateX(-50%);
  transition: all 0.5s ease;
}

.nav-item btn:hover {
  background: #fff;
  color: #242424;
  transition: 250ms;
}

.nav-menu.active {
  background: #242222;
  left: 0;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 1;
}

.nav-item {
  font-size: 20px;
}

/* NAV BURGER */
.fa-bars {
  cursor: pointer;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #fff;
}

.fa-bars:hover{
  color: #4c4c4c; /* This will change the color to black */
  transition: color 0.3s ease;
}

/* NAV BURGER DROPDOWN */
.nav-profile-dropdown-menu {
  background: rgb(60, 60, 60);
  list-style-type: none;
  box-shadow: 0 0.5px 2px #666;
  border: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%; /* Position it right below the parent element */
  right: 0; /* Align it to the right of the parent element */
  z-index: 1000;
  min-width: 120px; /* Set a minimum width for the dropdown */
}

.nav-profile-dropdown-menu:hover {
  
}

.nav-profile-dropdown-items {
  color: #fff;
  text-align: center;
  font-size: 0.9rem;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 15px;
  width: 100%;
  box-sizing: border-box;

}

.nav-profile-dropdown-items:hover {
  background-color: #444;
}

.nav-admin-links-drop {
  padding: 0px 10px;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-admin-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-admin-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-admin-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-admin-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    font-size: 1.2rem;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}
