.hero-admin-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-admin-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background: url('../../../public/images/bookBackground.jpeg') center center/cover no-repeat; /*copy background image path*/
  padding: 20px;
  box-sizing: border-box;
}

.hero-admin-content > h1 {
  font-size: 5vw;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 1rem;
}

.hero-admin-content > p {
  color: white;
  font-size: 2vw;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 2rem;
}

.hero-admin-btns {
  margin-top: 32px;
}

.hero-admin-btns .btn {
  margin: 6px;
}

@media screen and (max-width: 768px) {
  .hero-admin-content > h1 {
    font-size: 8vw;
  }

  .hero-admin-content > p {
    font-size: 4vw;
  }
}